@import "utils";
@import "fonts";
@import "typography";

* {
  box-sizing: border-box;
}

body {
  background: $c-gray;
}

.slider {
  position: relative;
  width: 510px;
  margin: auto;

  &__scale {
    position: relative;
    margin-top: 40px;
    width: 510px;
    height: 25px;
    border-radius: 3px;
    background-color: #d7dcde;
    border: 1px solid grey;
    cursor: pointer;
  }

  &__toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 30px;
    border: 1px solid grey;
    background: #eee;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;

    &--min {
      left: 50px;
    }

    &--max {
      left: 300px;
    }
  }

  &__diff-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: lightblue;
    height: 16px;
  }
}
